.section-title {
  width: 100%;
  display: flex;
  align-items: center;

  &__info {
    width: 175px;
    border-right: 1.5px solid #02ffb9;
    color: #02ffb9;
    text-shadow: 0 0 2px rgba(2, 255, 185, 0.83);
    font-family: 'VT323-Regular';
    font-size: 18px;
    text-align: right;
    padding-right: 50px;
    border-bottom-style: solid;
    border-bottom-width: 1.5px;
    border-image-source: linear-gradient(
      to right,
      rgba(0, 255, 184, 0),
      #05ffdd 43%
    );
    border-image-slice: 1;
    flex: 1;
    align-self: stretch;
    border-left: 0;
  }

  &__info-text {
    width: 160px;
    padding-top: 56px;
  }

  &__controls {
    display: flex;
    margin-top: 25px;
    gap: 20px;
  }

  &__controls-btn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;

    &:hover {
      & > svg path {
        fill: #02ffb9;
      }
    }
  }
}

.page-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom-style: solid;
  border-bottom-width: 1.5px;
  border-image-source: linear-gradient(
    to right,
    #05ffdd 53%,
    rgba(0, 255, 184, 0) 105%
  );
  border-image-slice: 1;
  height: 100%;
  width: 100%;
  padding: 43px 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;

  &_bottom {
    margin-top: 22px;
    padding-left: 50px;
    font-family: 'SFProText';
    font-weight: 900;
    font-size: 64px;
    line-height: 1.03;
    letter-spacing: -1.3px;
    z-index: 1;
    text-shadow: -3px -2px 1px black, -2px -2px 0 black, 1px -1px 0 black,
      -4px -3px 1px #02ffb9;
  }

  &__container {
    padding-left: 50px;
    font-size: 64px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 990px) {
  .section-title {
    &__info {
      display: none;
    }
  }
  .page-title {
    border: none;

    &__container {
      padding-left: 0;
      justify-content: center;
    }

    &__border {
      margin-top: 40px;
      display: flex;

      &--left, &--right {
        width: 50%;
        height: 1.5px;
      }

      &--left {
        background: linear-gradient(to left, #05ffdd 53%, rgba(0, 255, 184, 0) 100%);
      }

      &--right {
        background: linear-gradient(to right, #05ffdd 53%, rgba(0, 255, 184, 0) 100%);
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .section-title {

    &__info {
      display: none ;
    }
  }

  .page-title {
    border: none;
    padding: 15px 0;

    &__container {
      padding-left: 0;
      justify-content: center;
    }

    &_bottom {
      font-size: 40px;
    }

    &__border {
      margin-top: 20px;
      display: flex;

      &--left, &--right {
        width: 50%;
        height: 1.5px;
      }

      &--left {
        background: linear-gradient(to left, #05ffdd 53%, rgba(0, 255, 184, 0) 100%);
      }

      &--right {
        background: linear-gradient(to right, #05ffdd 53%, rgba(0, 255, 184, 0) 100%);
      }
    }
  }
}
