.faq {
  width: 100%;
  border-bottom: solid 1.5px #02ffb9;
  background-image: url(/assets/images/bg.png);
  background-size: cover;
  background-position: center;

  &__body {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 25px;
  }
}

@media only screen and (max-width: 768px) {
  .faq {
    border-bottom: none;
    
    &__body {
      margin-top: 0;
    }
  }
}