{
  "parser": "@typescript-eslint/parser",
  "rules": {
    "no-console": "warn",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-unused-vars": "warn"
  },
  "env": {
    "es6": true,
    "browser": true,
    "amd": true,
    "node": true
  },
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "eslint:recommended",
    "react-app"
  ],
  "globals": {
    "React": true,
    "google": true,
    "mount": true,
    "mountWithRouter": true,
    "shallow": true,
    "shallowWithRouter": true,
    "context": true,
    "expect": true,
    "jsdom": true,
    "JSX": true
  },
  "plugins": ["@typescript-eslint", "react", "react-hooks"],
  "overrides": [
    {
      "files": ["**/*.ts?(x)"],
      "rules": {
        "@typescript-eslint/explicit-function-return-type": [
          "error",
          { "allowExpressions": true, "allowTypedFunctionExpressions": true }
        ],
        "@typescript-eslint/no-use-before-define": [
          "error",
          {
            "functions": false,
            "classes": true,
            "variables": true,
            "typedefs": true
          }
        ],
        "no-unused-vars": [
          "off",
          { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }
        ]
      }
    }
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  }
}