html {
	scroll-behavior: smooth;
}

body {
  margin: 0;
}

.ReactModalPortal {
  z-index: 1001;
  position: relative;
}

.ReactModal__Overlay--after-open {
  background-color: rgba(0, 0, 0, 0.75) !important;
}

.ReactModal__Content {
  opacity: 0;
  transition: opacity .4s;
}

.ReactModal__Content--after-open {
  opacity: 1;
  max-width: 350px;
  width: 100%;
  background-color: #000000 !important;
  color: #02ffb9;
  padding: 0 !important;
}

@font-face {
  font-family: "SFPro";
  font-weight: 900;
  src: url("/assets/fonts/SF/SFProDisplay-Bold.ttf");
}


@font-face {
  font-family: "SFProText";
  font-weight: 900;
  src: url("/assets/fonts/SF/SFUIText-Heavy.ttf");
}

@font-face {
  font-family: "SFProText";
  font-weight: 700;
  src: url("/assets/fonts/SF/SFUIText-Bold.ttf");
}

@font-face {
  font-family: "SFProText";
  font-weight: 400;
  src: url("/assets/fonts/SF/SFUIText-Regular.ttf");
}

@font-face {
  font-family: "VT323-Regular";
  font-weight: 400;
  src: url("/assets/fonts/VT323/VT323-Regular.ttf");
}

.container {
  width: 100%;
  max-width: 990px;
  padding: 0 25px;
  margin: auto;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}


.our-partners__page-title {
  display: block !important;
}


.our-partners__page-title .page-title__wrapped-text {
  margin-left: 0;
  margin-top: 10px;
}

.our-partners__page-title .page-title__wrapped-text span {
  font-size: 63px;
}

@media only screen and (min-width: 769px) and (max-width: 990px) {
  .build-in-section .section-title .page-title_bottom {
    padding-left: 0;
    text-align: center;
    margin-top: 15px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 30px;
  }

  .build-in-section .section-title {
    margin-left: -10%;
    width: 120%;
  }

  .build-in-section .section-title .page-title_bottom {
    font-size: 38px;
    padding-left: 0;
    text-align: center;
    margin-top: 15px;
  }

  .build-in-section .build-in-container {
    padding: 0 15px;
  }

  .ReactModal__Content--after-open {
    max-width: 300px;
  }

  .our-partners__page-title .page-title__wrapped-text span {
    font-size: 40px;
  }
}