.about-ido {
  width: 100%;
  border-bottom: solid 1.5px #02ffb9;
  background-image: url(/assets/images/bg.png);
  background-size: cover;
  background-position: center;

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    max-width: 550px;
    width: 100%;
    font-family: 'SFProText';
    font-size: 28px;
    font-weight: 900;
    line-height: 1.07;
    text-align: center;
  }

  &__steps {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
  }

  &__join-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }

  &__link {
    text-decoration: none;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
  }

  &__question {
    display: flex;
    align-items: flex-end;
  }

  &__big-arrow {
    width: 50px;
    height: 50px;
    margin-right: 23px;
    background-image: url(/assets/BigArrow.png);
    background-size: cover;
    background-position: center;
    margin-bottom: 8px;
  }

  &__question-text {
    font-family: 'SFProText';
    font-size: 40px;
    font-weight: 900;
    line-height: 1.25;
    letter-spacing: -1.71px;
    max-width: 365px;
  }

  &__advantages {
    max-width: 414px;
    min-height: 154px;
    box-shadow: 0 0 15px 0 rgba(2, 255, 185, 0.5);
    border-style: solid;
    border-width: 2px;
    border-image-source: linear-gradient(to bottom, #b1ffe9 0%, #02ffb9);
    border-image-slice: 1;
    background-image: linear-gradient(to bottom, rgba(5, 255, 221, 0.09) 10%, rgba(2, 255, 185, 0.25));
  }

  &__list {
    color: #02ffb9;
    font-family: 'VT323-Regular';
    font-size: 22px;
    padding-left: 25px;

    & > li {
      list-style-type: none;
    }
  }
}

.ido-step {
  display: flex;
  flex-direction: column;
  width: 159px;

  &__number {
    font-family: "SFProText";
    font-weight: 900;
    font-size: 70px;
    line-height: 1.03;
    letter-spacing: -1.3px;
    z-index: 1;
    text-shadow: -3px -2px 1px black, -2px -2px 0 black, 1px -1px 0 black, -4px -3px 1px #02FFB9;

    &_green {
      color: #02ffb9;
    }
  }

  &__text {
    margin-top: 25px;
    font-family: 'VT323-Regular';
    color: #ffffff;
    font-size: 20px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 990px) {
  .about-ido {
    &__steps {
      flex-wrap: wrap;
      gap: 40px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .about-ido {
    &__title {
      font-size: 20px;
      line-height: 22px;
      margin-top: 0;
    }

    &__steps {
      flex-wrap: wrap;
      gap: 20px 5px;
      margin-bottom: 50px;
    }

    &__footer {
      flex-direction: column;
    }

    &__list {
      padding-left: 0;
      margin: 10px 10px 10px 15px;
    }

    &__big-arrow {
      width: 22px;
      height: 22px;
      margin-right: 15px;
    }

    &__advantages {
      margin-top: 20px;
      border-width: 1px;
    }

    &__question-text {
      width: auto;
      font-size: 29px;
      line-height: 37px;
      max-width: 200px;
    }
  }

  .ido-step {
    width: 149px;

    &__text {
      font-size: 24px;
      line-height: 22px;
    }
  }
}