
.notification-message {
  position: fixed;
  z-index: 1002;
  left: 0;
  bottom: 50px;
  width: 100%;
  height: 122px;
  border-top: solid 1.5px #02ffb9;
  border-bottom: solid 1.5px #02ffb9;
  background-color: #0c0c0c;
  display: flex;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;

  &_shown {
    visibility: visible;
    opacity: 1;
  }

  &__data {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 70px;
    line-height: 1.13;
    width: 31%;
    height: 100%;
    border-right: 1.5px solid #02ffb9;
  }

  &__data-text {
    display: block;
    width: 145px;
    color: #02ffb9;
    font-family: 'SFProText';
    font-size: 16px;
    font-weight: 900;
    line-height: 1.13;
  }

  &__body {
    width: 69%;
    position: relative;
  }

  &__form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 29px;
    height: 100%;
  }

  &__body-info {
    font-family: 'SFProText';
    font-size: 16px;
    font-weight: 500;
    line-height: 1.13;
    color: #02ffb9;
    margin-right: 60px;
  }

  &__submit-btn {
    background-color: #02ffb9;
    color: #000000;
    font-family: 'SFProText';
    font-size: 16px;
    font-weight: 900;
    width: 122px;
    height: 46px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 96px;

    &:hover {
      color: rgba($color: #000000, $alpha: 0.8);
      background-color: rgba(2, 255, 185, 0.71);
    }
  }

  &__close-btn {
    position: absolute;
    right: 40px;
    top: -40px;
    cursor: pointer;
    background: none;
    border: none;
    width: fit-content;
  }
}