.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #0c1714;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #02ffb9;
  z-index: 1000;

  &__logo {
    cursor: pointer;
  }

  &__logo-links-wrapper {
    display: flex;
    justify-content: space-between;
    width: 800px;
  }

  &__links {
    width: 620px;
    display: flex;
    gap: 18px;
  }

  &__link-group {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      & > span {
        color: rgba(2, 255, 213, 0.71);
      }
      & > div {
        background: rgba(2, 255, 213, 0.71);
      }
    }
  }

  &__link {
    color: #ffffff;
    font-family: "SFProText";
    font-weight: 700;
    font-size: 14px;

    &_active {
      color: #02ffb9;
    }
  }
}

.container {
  height: 95px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vertical-divider {
  height: 20px;
  width: 2px;
  background: #ffffff;
  margin-left: 10px;

  &_active {
    background: #02ffb9;
  }
}

@media only screen and (min-width: 769px) and (max-width: 990px) {
  .header {
    &__links {
      padding-left: 65px;
    }
  }
}