.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #0c1714;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #02ffb9;
  z-index: 1000;

  &__logo {
    cursor: pointer;
    width: 67px;
    height: 53px;
    background-image: url(/assets/Logo.png);
    background-size: cover;
  }

  &__logo-links-wrapper {
    display: flex;
    justify-content: space-between;
    width: 800px;
  }

  &__links {
    width: 620px;
    display: flex;
    gap: 18px;
  }

  &__link-group {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      & > span {
        color: rgba(2, 255, 213, 0.71);
      }
      & > div {
        background: rgba(2, 255, 213, 0.71);
      }
    }
  }

  &__link {
    color: #ffffff;
    font-family: 'SFProText';
    font-weight: 700;
    font-size: 14px;

    &_active {
      color: #02ffb9;
    }
  }

  &__menu-btn {
    background: none;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    display: none;
  }
}

.container {
  height: 95px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vertical-divider {
  height: 20px;
  width: 2px;
  background: #ffffff;
  margin-left: 10px;

  &_active {
    background: #02ffb9;
  }
}

.modal {
  &__content {
    text-align: center;
  }

  &__text {
    display: block;
    font-family: 'SFProText';
    font-size: 16px;
    font-weight: 500;
    line-height: 1.13;
  }

  &__date {
    font-family: 'SFProText';
    font-size: 22px;
    line-height: 1.36;
    display: block;
    margin: 20px 0 10px;
    font-weight: 900;
  }
}

.mobile-header {
  display: none;
  position: fixed;
  background: #0c1714;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;

  &__actions-wrap {
    border-top: 1.5px solid#02ffb9;
    margin-top: 55px;
  }
  
  &__close-btn {
    position: absolute;
    top: 17px;
    right: 20px;
    background: none;
    border: none;
    color: #02ffb9;
  }

  &__body {
    padding: 30px 50px;
  }

  &__link {
    display: block;
    font-family: 'SFProText';
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 30px;

    &_active {
      color: #02ffb9;
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 990px) {
  .header {
    &__links {
      padding-left: 65px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .header {
    background: #0c2a22;
    box-sizing: border-box;

    &__logo {
      width: 40px !important;
      height: 31px !important;
    }

    &__links {
      display: none;
    }

    &__logo-links-wrapper {
      align-items: center;
    }
    
    &__menu-btn {
      display: flex;
    }
  }

  .container {
    height: 56px;
  }
}

@media only screen and (min-width: 769px) {
  .mobile-header {
    display: none !important;
  }
}