.feature-section-item {
  width: 170px;
  margin-top: 45px;
  margin-right: 38px;

  &__icon {
    height: 60px;
    display: flex;
    align-items: center;
  }

  &__title {
    margin: 20px 0 10px;
    font-family: 'SFPro';
    font-weight: 900;
    color: #02ffb9;
    text-shadow: 0 0 2px rgba(2, 255, 185, 0.83);
    height: 45px;
  }

  &__text {
    font-family: 'VT323-Regular';
    color: #ffffff;
    font-size: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .feature-section-item {
    width: 142px;
    margin-right: 13px;
    margin-top: 20px;

    &__title {
      height: 70px;
      font-size: 20px;
    }
  }
}