.tokenomics-section {
  padding-bottom: 87px;
  border-bottom: solid 1.5px #02ffb9;
  background-image: url(/assets/images/bg.png);
  background-size: cover;
  background-position: center;

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 96px;
  }
}

.game-features {
  margin-top: 64px;
  $self: &;
  display: flex;
  align-items: center;

  &__left {
    margin-right: 140px;
    margin-left: 33px;
  }

  &__right {
    display: flex;
    align-items: top;
    justify-content: space-between;
    width: 100%;
    padding-right: 84px;
  }
}

.burnt-info {
  width: 125px;

  &__title {
    margin-top: 21px;
    color: #02ffb9;
    font-family: "SFProText";
    font-weight: 900;
  }

  &__label {
    font-size: 20px;
  }
  
  &__value {
    font-size: 36px;
  }
}

.game-feature {
  &__title {
    font-family: 'VT323-Regular';
    margin-top: 30px;
    font-size: 20px;
    line-height: 20px;
    color: #fff;
  }

  &__icon {
    width: 67px;
    height: 80px;
    background-size: cover;
    background-position: center;
  }
}

.total-taxes {
  display: flex;
  align-items: center;
  padding-right: 47px;

  &__label {
    font-size: 40px;
    line-height: 50px;
    font-family: "SFProText";
    font-weight: 900;
    margin-left: 20px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 990px) {
  .game-features {
    display: block;
    margin-top: 30px;

    &__left {
      margin: 0;
    }

    &__right {
      margin-top: 30px;
    }
  }

  .burnt-info {
    margin: auto;
  }
}

@media only screen and (max-width: 768px) {
  .game-features {
    display: block;
    margin-top: 5px;

    &__left {
      margin: 0;
    }

    &__right {
      margin-top: 10px;
      padding-left: 15px;
      flex-wrap: wrap;
      gap: 15px;

      & > div:last-child {
        .game-feature__title {
          br {
            &:first-child {
              display: inline;
            }
          }
        }
      }
    }
  }

  .game-feature {
    width: 125px;

    &__icon {
      width: 54px;
      height: 64px;
    }

    &__title {
      margin-top: 10px;
      font-size: 24px;
      line-height: 22px;
      br {
        &:first-child {
          display: none;
        }
      }
    }
  }

  .burnt-info {
    margin: auto;
    text-align: center;
  }

  .tokenomics-section {
    padding-bottom: 50px;
    border-bottom: none;
    &__footer {
      flex-direction: column-reverse;
      gap: 35px;
      padding-top: 30px;
    }
  }

  .total-taxes {
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
    > span {
      margin-top: 30px !important;
    }
    &__label {
      font-size: 29px;
      line-height: 36px;
      margin-left: 10px;
      br {
        display: none;
      }
    }
  }
}