.build-in-section {
  width: 100%;
  border-bottom: solid 1.5px #02ffb9;
  background-image: url(/assets/images/bg.png);
  background-size: cover;
  background-position: center;

  &__page-title {
    & > div {
      font-size: 64px;
    }

    & > div:last-of-type {
      margin-left: 10px;
    }
  }

  &__body-row {
    display: flex;
    align-items: center;
  }

  &__build-in-row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 21px 0 59px;
  }

  &__next-generation-img-wrapper, &__build-in-img-wrapper {
    width: 207px;
    height: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #02ffb9;
    background-color: rgba($color: #02ffb9, $alpha: 0.25);
  }

  &__next-generation-img, &__build-in-img {
    width: 119px;
    height: 110px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__next-generation-img {
    background-image: url('/assets/Arrows.png');
  }
  &__build-in-img {
    background-image: url('/assets/IDO.png');
  }

  &__next-generation-text, &__build-in-text {
    margin-left: 31px;
    font-family: 'SFProText';
    font-size: 22px;
    color: #ffffff;
    max-width: 400px;
  }
}

@media only screen and (max-width: 768px) {
  .build-in-section {
    border-bottom: none;

    &__page-title {
      & > div {
        font-size: 38px;
      }
  
      & > div:last-of-type {
        margin-left: 10px;
      }
    }

    &__body {
      margin-top: 30px;
    }

    &__next-generation-img-wrapper, &__build-in-img-wrapper {
      width: 136px;
      min-width: 136px;
      height: 112px;
    }

    &__next-generation-img, &__build-in-img {
      width: 74px;
      height: 68px;
    }

    &__next-generation-text, &__build-in-text {
      font-size: 20px;
      font-weight: bold;
      line-height: 22px;
      max-width: 300px;
      margin-right: -7px;
    }

    &__next-generation-text {
      margin-left: 20px;
    }

    &__build-in-text  {
      margin-left: 0;
      margin-right: 17px;
      text-align: right;
      margin-left: -13px;
    }
  }
}