.feature-section {
  width: 100%;
  border-bottom: solid 1.5px #02ffb9;

  &__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 45px 150px;
  }

  &__footer {
    margin: 87px 0;
    display: flex;
    justify-content: center;
  }
}
