.modal {
  &__header {
    font-family: 'SFPro';
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 0 20px;
    height: 50px;
    background-color: #02ffb9;
    color: #000000;
  }

  &__body {
    padding: 25px;
  }

  &__close-btn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 28px;
    font-weight: bold;

    &:hover {
      color: rgba($color: #000000, $alpha: 0.8);
    }
  }
  
  &__close-btn-icon {
    color: #000;
  }
}
