.page-title {
  display: flex;
  &__normal-text {
    font-family: "SFProText";
    font-weight: 900;
    font-size: 70px;
    line-height: 1.03;
    letter-spacing: -1.3px;
    z-index: 1;
    text-shadow: -3px -2px 1px black, -2px -2px 0 black, 1px -1px 0 black, -4px -3px 1px #02FFB9;
  }
  &__wrapped-text {
    position: relative;
    margin-left: 23px;
    span {
      position: relative;
      display: block;
      font-family: "SFProText";
      font-weight: 900;
      font-size: 70px;
      line-height: 1.03;
      letter-spacing: -1.3px;
      color: black;
      background: #02FFB9;
      padding: 1.5px 13px 7.5px;
      z-index: 1;
    }
    &::before {
      content: "";
      width: calc(100% - 1px);
      height: calc(100% - 1px);
      position: absolute;
      top: 4px;
      left: 4px;
      z-index: 0;
      border: 1px solid #02FFB9;
    }
  }
}

@media only screen and (max-width: 768px) {
  .page-title {
    &__wrapped-text {
      margin-left: 12px;

      &::before {
        top: 2px;
        left: 2px;
      }
      
      span {
        font-size: 40px;
        padding: 1.5px 8px 4.5px;
        letter-spacing: -2px;
      }
    }

    &__normal-text {
      font-size: 40px;
      letter-spacing: -2px;
    }
  }
}